
.icon-linkedin-2:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-info-circled:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\e804'; } /* '' */
.icon-edit:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-back-in-time:before { content: '\e808'; } /* '' */
.icon-coffee:before { content: '\e809'; } /* '' */
.icon-users:before { content: '\e80b'; } /* '' */
.icon-headphones:before { content: '\e80c'; } /* '' */
.icon-location:before { content: '\e80d'; } /* '' */
.icon-phone-1:before { content: '\e80e'; } /* '' */
.icon-youtube:before { content: '\e80f'; } /* '' */
.icon-mail:before { content: '\e813'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
